<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Library</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">!QkaParolka123</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <!--<property name="hibernate.hbm2ddl.auto">update</property>-->

        <!-- Entity Classes -->
            <mapping class="com.library.database.entities.Author"/>
            <mapping class="com.library.database.entities.Book"/>
            <mapping class="com.library.database.entities.Genre"/>

            <!-- The main entity user class -->
            <mapping class="com.library.database.entities.User"/>
            <!-- The main entity user class -->

            <!-- The inheritors of the main entity user class -->
            <mapping class="com.library.database.entities.Admin"/>
            <mapping class="com.library.database.entities.Client"/>
            <!-- The inheritors of the main entity user class -->

            <!-- The inheritors of the client class -->
            <mapping class="com.library.database.entities.Operator"/>
            <mapping class="com.library.database.entities.Reader"/>
            <!-- The inheritors of the client class -->
        <!-- Entity Classes -->
    </session-factory>
</hibernate-configuration>