<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Library</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">!QkaParolka123</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="com.library.database.entities.Author"/>
        <mapping class="com.library.database.entities.Book"/>
        <mapping class="com.library.database.entities.BookForm"/>
        <mapping class="com.library.database.entities.User"/>
        <mapping class="com.library.database.entities.Reader"/>
        <mapping class="com.library.database.entities.EventNotification"/>
        <mapping class="com.library.database.entities.BookInventory"/>
        <mapping class="com.library.database.entities.ReaderRating"/>
    </session-factory>
</hibernate-configuration>